@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    border-radius: 50%;
  }
}
:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(94, 128, 109);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(1, 196, 255, 0.537);
  /* background: linear-gradient(
    180deg,
    rgb(218, 218, 218) 0%,
    rgba(103, 174, 255, 0.534) 35%,
    rgba(106, 252, 169, 0.534) 100%
  ); */
  border-radius: 13px;
  border: 3px solid var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 196, 255, 0.637);
  cursor: pointer;
}

.workout > h1 {
  text-align: center;
  margin-top: 12px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.workout {
  margin-left: 5rem;
}

.workout > h2,
.workout > h3 {
  text-align: left;
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.workout > ul {
  list-style: cricle;
  margin: 0;
  padding: 0;
}

.workout > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--secondary);
}

ol {
  padding-left: 50px;
}

li {
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

strong {
  color: black;
}
